body {
	background-color: #181818;
	color: #ffffff;
	font-family: sans-serif;
}

.palette-block {
	width: 20%;
	height: 300px;
	display: flex;
	float: left;
}

.color-text {
	margin: auto;
	font-size: 32px;
	color: black;
	text-shadow: white 0px 0px 20px;
}
