body {
	background-color: #181818;
	color: #ffffff;
	font-family: sans-serif;
}

.palette-block {
	background-color: #FFFFFF;
	width: 20%;
	height: 300px;
	display: flex;
}

.white {
	color: black;
}

.color-text {
	margin: auto;
	font-size: 30px;
}